<h1>Log-in!</h1>

<%= form_for @user, :url => { :controller => "sessions", :action => "create" } do |f| %> <!-- See the comment under the f.submit line for details. the url tells it to go to the sessions path, create method instead-->
    E-mail: <%= f.text_field :email %><br />
    Password: <%= f.password_field :password %><br />
    <%=f.submit 'Log yourself in' %> <!-- This will post back to the users controller by default because it's a user. We need to override this behavior -->

<% end %>

<%= link_to 'New user? Create an account here', new_user_path %>