<%= flash[:success] %> 
<%= flash[:image_success] %>
<%= flash[:error] %>

<div class='leaderboard'>
  <h3>Top 5 Most upvoted users</h3>
  <% @topUsers.each do |topUser|%>
    <%= topUser.username %> | <%= topUser.vote_count %> votes<br />
  <% end %>
</div>

<section class='main'>
  <% @images.each do |i| %>
    <%= link_to image_path(i.id) do %>
      <div class='thumb'>
         <%= image_tag i.avatar.url(:medium) %>
        <div class='txthover' >
          <%= i.title %>
          <br>
          <br>
          <strong> <%= i.votes.count %> </strong> <i class="fa fa-heart"></i>
        </div>
      </div>
    <% end %>
  <% end %>
</section>


