<div class='post hidden'>
<%= form_for Image.new() do |f| %>
  title
  <%= f.text_field :title %>
  photo
  <%= f.text_field :photo %>
  url
  <%= f.text_field :link %>
  <%= f.submit %>
<% end %>
</div>

<section class='main'>
  <% @images.each do |i| %>
    <%= link_to image_path(i.id) do %>
      <div class='thumb'>
        <p> <%= i.title %> </p>
      </div>
    <% end %>
  <% end %>
</section>


