<section class='show'>
<<<<<<< HEAD
  <div class='right'>
  <img src="<%= @image.photo %>">
=======
  <!-- <img src="<%#= @image.photo %>"> -->
  <%= image_tag @image.avatar.url(:medium) %>
>>>>>>> master
  <br>
  Title:
  <br>
  Date: 
  <br>
  Description:
  <br>
  </div>
  <div class='left'>
    <div class='addComment'>
    	<%= form_for @comment, :url =>{:controller =>"comments", :action =>"create"} do |f| %>
  	  	<%= f.text_area :body, placeholder: "Add your comment here" %>
        <% if current_user %>
    	  	<%= f.hidden_field :user_id, :value => current_user.id %>
    	  	<%= f.hidden_field :image_id, :value => params[:id] %> 
        <% end %>
    		<%= f.submit 'Add your comment' %>
    	<% end %>
    </div>
    <hr >
    <div class='commentSection'>
      <h1>Comments</h1>
    	<% @commentsSubmitted.each do |comment| %>
        <%= comment.user.username %> said:<br />
    		<%= comment.body %>
  			<% if current_user.id == comment.user_id %>
  			 (<%= link_to 'Edit', edit_comment_path(comment, image_id: params[:id]) %>)
  			<% end %>
    		<br />

    	<% end %>
    </div>
    </div>
</section>

Upvotes: <% if @image.votes == nil %> 0 <% else %> <%= @image.votes.count %> <% end %>
<%= link_to "Upvote", upvote_path %>
