<section class='show'>
  <img src="<%= @image.photo %>">
  <br>
  Title:
  <br>
  Date: 
  <br>
  Description:
  <br>

  <div class='addComment'>
  	<%= form_for @comment, :url =>{:controller =>"comments", :action =>"create"} do |f| %>
	  	<%= f.text_area :body, placeholder: "Add your comment here" %>
	  	<%= f.hidden_field :user_id, :value => current_user.id %>
	  	<%= f.hidden_field :image_id, :value => params[:id] %> 
  		<%= f.submit 'Add your comment' %>
  	<% end %>
  </div>
  <hr >
  <div class='commentSection'>
    <h1>Comments</h1>
  	<% @commentsSubmitted.each do |comment| %>
      <%= comment.user.username %> said:<br />
  		<%= comment.body %>
			<% if current_user.id == comment.user_id %>
			 (<%= link_to 'Edit', edit_comment_path(comment, image_id: params[:id]) %>)
			<% end %>
  		<br />

  	<% end %>
  </div>
</section>