<!DOCTYPE html>
<html>
<head>
  <title>Catsinspace</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <i class="fa fa-bars menu"></i>
  <div class='navigation'>
    <button class='postbutton hidden'> post </button>

    <% if current_user != nil %>
    
      <%= button_to "Log out", sessions_path, method: :delete %>
      <% else %>
      <%= button_to "Sign up/Login", new_user_path, :class => 'session', method: :get %>
    <% end %>
    <div class='close'>
      <i class="fa fa-times-circle"></i>
    </div>
  </div>
  <div class='post hidden'>
    <%= form_for Image.new() do |f| %>
      title
      <%= f.text_field :title %>
      photo
      <%= f.text_field :photo %>
      url
      <%= f.text_field :link %>
      date 
      <%= f.date_field :date %>
      description
      <%= f.text_area :description %>
      
      <%= f.submit %>
    <% end %>
</div>
<%= yield %>

</body>
</html>
