<!DOCTYPE html>
<html>
<head>
  <title>Catsinspace</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <i class="fa fa-bars menu"></i>
  <div class='navigation'>
    <%= button_to "HOME", root_path, :class => 'session', method: :get %>
    <% if current_user != nil %>
     <div class='session'>
      <button class='postbutton'> Post </button>
      </div>
      <%= button_to "Log out", sessions_path, :class => 'session', method: :delete %>
      <% else %>
      <div class='session'>
        <button class='signupbutton'> sign up</button>
      </div>
      <div class='session'>
        <button class='loginbutton'> Login </button>
      </div>
    <% end %>
     <%= button_to "Instructions", new_session_path, :class => 'session', method: :get %>
    <div class='close'>
      <i class="fa fa-times-circle"></i>
    </div>
  </div>
  
  <div class='forms post hidden'>
    <%= form_for Image.new() do |f| %>
      <h2> title </h2>
      <%= f.text_field :title %>
      <h2> photo </h2>
      <%= f.text_field :photo %>
      <h2> url </h2>
      <%= f.text_field :link %>
      <h2> date </h2>
      <%= f.date_field :date %>
      <h2> description </h2>
      <%= f.text_area :description %>
      <% if current_user %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <% end %>
      <br>
      <br>

      <%= f.submit "POST", :class => 'submit' %>
    <% end %>
    <br>
    <button class='cancel' style='width:20%'> CANCEL </button>
</div>
<div class='forms login hidden'>
<%= form_for User.new, :url => { :controller => "sessions", :action => "create" } do |f| %> <!-- See the comment under the f.submit line for details. the url tells it to go to the sessions path, create method instead-->
    <h2> E-mail </h2>
     <%= f.text_field :email %><br />
    <h2> Password </h2>
    <%= f.password_field :password %><br />
    <br>
    <%=f.submit 'Log yourself in', :class => 'submit'%> <!-- This will post back to the users controller by default because it's a user. We need to override this behavior -->
    <% end %>
    <br>
    <button class='cancellogin' style='width:20%'> CANCEL </button>
</div>

<div class='forms signup hidden'>
  <%= form_for User.new() do |f|%>
    <h2> Username </h2>
    <%= f.text_field :username %>
    <h2> E-mail </h2>
     <%= f.text_field :email %>
    <h2> Password </h2>
     <%= f.password_field :password %>
    <h2> Password confirmation </h2>
    <%= f.password_field :password_confirmation %>
    <br>
    <br>
    <%=f.submit "Sign In", :class=>'submit' %>
    <br>
    <br>
    <button class='cancelsignup' style='width:20%'> CANCEL </button>

<% end %>
</div>

<div class='leaderboard'>
  <h3>Top 5 Most <i class="fa fa-heart"></i> users</h3>
  <% User.order("vote_count DESC").limit(5).each do |topUser|%>
    <%= topUser.username %> | <%= topUser.vote_count %> <i class="fa fa-heart"></i><br />
  <% end %>
  <div class='closeleader' style='text-align:center;'>
    <i class="fa fa-times-circle"></i>
  </div>
</div>
<br>
<div class='leaderboardbutton'>
  <h3> LEADERBOARD </h3>
</div>
<%= yield %>

</body>
</html>
