<!DOCTYPE html>
<html>
<head>
  <title>Catsinspace</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navigation'>
    
  </div>
<% if current_user != nil %>
	This is the person who's logged in: <%= current_user.email %>
	<%= button_to "Log out", sessions_path, method: :delete %>
<% else %>
	<%= button_to "Sign up", new_user_path, method: :get %>
<% end %>

<%= yield %>

</body>
</html>
